


.app {
  background-image: url('/src/assets/pexels-photo-19994041.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  
}

/* .content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(36, 40, 49, 0.8),
    hsla(242, 11%, 50%, 0.8)
  ) !important;
} */

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  cursor: pointer;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  z-index: -1;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;

  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  z-index: -1;
  background-color: black;
}

input:checked + .slider {
  background-color: #000000e1;
  

}

input:focus + .slider {
  box-shadow: 0 0 1px #10e2c6;
  
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(40px);
  background-color: white;

}

.slider:after {
  content: "ES";
  color: black;

  
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
  content: "EN";
  color: white;
 

}
